# =========================
# Python
# =========================
__pycache__/
*.pyc
*.pyo
*.pyd

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# VSCode / IDE
# =========================
.vscode/
.idea/

# =========================
# Logs / temp
# =========================
*.log
*.tmp